<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Url" value="http://www.amazon.in"></parameter>
  <!-- <test thread-count="5" name="Test search1" parallel="classes">
  <parameter name="Browser" value="Chrome"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSearch_001"/>
  </classes>
  </test> 
   
<test thread-count="5" name="Test search2" parallel="classes">
  <parameter name="Browser" value="Firefox"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSearch_002"/>
  </classes>
  </test> 
    
  <test thread-count="5" name="Test signup3" parallel="classes">
  <parameter name="Browser" value="Chrome"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSignUp"/>
  </classes>
  </test>
  
  <test thread-count="5" name="Test signup4" parallel="classes">
  <parameter name="Browser" value="Firefox"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSignUp"/>
  </classes>
  </test>
  
  <test thread-count="5" name="Test search5" parallel="classes">
  <parameter name="Browser" value="Edge"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSearch_002"/>
  </classes>
  </test>
  
  <test thread-count="5" name="Test signup6" parallel="classes">
  <parameter name="Browser" value="Edge"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSignUp"/>
  </classes>
  </test>
  -->
  <test thread-count="5" name="Test search1" parallel="classes">
  <parameter name="Browser" value="Chrome"/>
  <classes>
  <class name="com.qa.testscripts.TC_Amazon_003"/>
  </classes>
  </test> 
</suite> <!-- Suite -->


